<a href="https://colab.research.google.com/github/sharifahhusnasym/Data-Science-Bootcamp/blob/main/Sharifah_Husna_python105.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Problem 1**

Write a python function that takes a number as parameter and prints the multiplication table of that number

In [ ]:
def multiplication_table(number):
  for h in range(1,13):
    print(f"{h} x {number} = {number * h}")

multiplication_table(8)

1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80
11 x 8 = 88
12 x 8 = 96

**Problem 2**

Write a simple python function that returns twin primes less than 1000. If two consecutive odd numbers are both prime then they are known as twin primes.

Pairs of primes that differ by 2. For example, 3 and 5, 5 and 7, 11 and 13, and 17 and 19 are twin primes.

In [ ]:
def prime(number):
  x = number

  if x < 2:
    return False
  for x in range(2, int(number**0.5), + 1):
    if number % x == 0:
      return False
  return True

def find_twins_prime(limit):
  twin_primes = []

  for x in range(2, limit - 1):
    if prime(x) and prime(x + 2):
      twin_primes.append((x, x + 2))
  return twin_primes

twin_primes = find_twins_prime(1000)
print("Twin primes in less than 1000 that differs by 2 are:")

for pair in twin_primes:
  print(pair)

Twin primes in less than 1000 that differs by 2 are:
(2, 4)
(3, 5)
(4, 6)
(5, 7)
(6, 8)
(7, 9)
(9, 11)
(11, 13)
(13, 15)
(15, 17)
(17, 19)
(23, 25)
(29, 31)
(35, 37)
(41, 43)
(47, 49)
(59, 61)
(71, 73)
(101, 103)
(107, 109)
(137, 139)
(149, 151)
(167, 169)
(179, 181)
(191, 193)
(197, 199)
(227, 229)
(239, 241)
(269, 271)
(281, 283)
(311, 313)
(347, 349)
(359, 361)
(419, 421)
(431, 433)
(461, 463)
(521, 523)
(569, 571)
(599, 601)
(617, 619)
(641, 643)
(659, 661)
(809, 811)
(821, 823)
(827, 829)
(839, 841)
(857, 859)
(881, 883)

**Problem 3**

Write a simple python function that takes a number as parameter and returns  the prime factors of that number. Prime Factorization is finding which prime numbers multiply together to make the original number.

Example: prime factors of 56 - 2, 2, 2, 7

In [ ]:
def prime_factor(number):
  factors = []
  divisor = 2 # smallest number in prime number

  while number % divisor == 0: # check either divisor is factor
    factors.append(divisor)
    number //= divisor # reduce the number

  divisor += 1 # move to the next possible divisor

  if divisor * divisor > number and number > 1:
    factors.append(number)

  return factors

result = prime_factor(56)
print("The prime factors of 56 is:",result)

The prime factors of 56 is: [2, 2, 2, 7]

**Problem 4**

Write a function that inputs a number and returns the product of digits of that number.

In [ ]:
def product_of_digits(number):
  result = 1

  while number > 0:
    digit = number % 10
    result *= digit
    number //= 10
  return result

num = int(input("Enter a number: "))
result = product_of_digits(num)
print("The product of digits of", num, "is:", result)

Enter a number: 132
The product of digits of 132 is: 6

**Problem 5**

Write a function that takes a number as parameter. The function finds the proper divisors of that number and then finds the sum of proper divisors. Proper divisors of a number are those numbers by which the number is divisible, except the number itself.

For example proper divisors of 36 are 1, 2, 3, 4, 6, 9, 18

In [ ]:
def sum_of_proper_divisor(number):
  totalsum = 0
  divisor = []

  for x in range(1, number):
    if number % x == 0:
      totalsum += x
      divisor.append(x)
  return totalsum, divisor

totalsum, result = sum_of_proper_divisor(36)
print("The proper divisor of 36 is:", result)
print("The sum of proper divisor:", totalsum)

The proper divisor of 36 is: [1, 2, 3, 4, 6, 9, 12, 18]
The sum of proper divisor: 55

**Problem 6**

A number is called perfect if the sum of proper divisors of that number is equal to the number. For example 28 is perfect number, since 1+2+4+7+14=28. Write a program to print all the perfect numbers in a given range

In [ ]:
def sum_of_proper_divisors(number):
  divisors_sum = 0

  for x in range(1, number // 2 + 1):
    if number % x == 0:
      divisors_sum += x
  return divisors_sum

def perfect_number(first, last):
  perfect = []

  for number in range(first, last + 1):
    if number == sum_of_proper_divisors(number):
      perfect.append(number)
  return perfect

first = 1
last = 10000
print(f"Perfect numbers between {first} and {last} are:")
perfect_number(first,last)

Perfect numbers between 1 and 10000 are:

[6, 28, 496, 8128]

**Problem 7**

Write a python function that takes 2 parameters lower and upper (range). Let the function returns pairs of amicable numbers in that range.

Two different numbers are called amicable numbers if the sum of the proper divisors of each is equal to the other number. For example 220 and 284 are amicable numbers.

For example if we call that function: amicableNumbers(1, 1000)

The function must return: **[220, 284]**


*Why they are amicable numbers ?*

Sum of proper divisors of **220** = 1+2+4+5+10+11+20+22+44+55+110 = **284**

Sum of proper divisors of **284** = 1+2+4+71+142 = **220**

In [ ]:
def sum_div(number):
  totalsum = 0

  for x in range(1, number):
    if number % x == 0:
      totalsum += x
  return totalsum

def amicableNum(lower,upper):
  amicable_list = {}
  for num1 in range(lower,upper):
    num2 = sum_div(num1)
    if num2 > num1 and num2 < upper and sum_div(num2) == num1:
      amicable_list[num1]=num2
  return amicable_list

low = int(input("Enter the lower range: "))
high = int(input("Enter the higher range: "))
result = amicableNum(low,high)
print("The Amicable Numbers:", result)

Enter the lower range: 1
Enter the higher range: 1000
The Amicable Numbers: {220: 284}

**Problem 8**

Write a python function that takes variable length parameters and returns maximum and minimum number in the parameter numbers.

For example if we call the function: maximumMinimum(10, 20, 30, 40, 50)

The function must return: **[10, 50]**

In [ ]:
def maximumMinimum(*number):
  if len(number) == 0:
    return []

  maxnum = max(number)
  minnum = min(number)

  return [minnum, maxnum]

result = maximumMinimum(10, 20, 30, 40, 50)
print("The function must return:",result)

The function must return: [10, 50]

**Problem 9**

Write a simple Python function that takes a number(n) as a parameter. Then the function prints out the first n rows of Pascal's triangle. Note : Pascal's triangle is an arithmetic and geometric figure first imagined by Blaise Pascal.



![pascaltriangle.png]()

In [ ]:
def pascal_triangle(n):
  triangle = []

  for x in range(n):
    row = [1] * (x + 1)
    for y in range(1,x):
      row[y] = triangle[x - 1][y -1] + triangle[x -1][y]
    triangle.append(row)

  width = len(" ".join(map(str, triangle[-1])))

  for row in triangle:
    print(" ".join(map(str, row)).center(width))

pascal_triangle(8)

         1
        1 1
       1 2 1
      1 3 3 1
     1 4 6 4 1
   1 5 10 10 5 1
  1 6 15 20 15 6 1
1 7 21 35 35 21 7 1

**Problem 10**

Write a simple python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

Sample Items : green-red-yellow-black-white

Expected Result : black-green-red-white-yellow

In [ ]:
def sort_words(sequence):
  words = sequence.split("-")
  words.sort()
  return "-".join(words)

sequence = "green-red-yellow-black-white"
result = sort_words(sequence)
print("Expected Result :", result)

Expected Result : black-green-red-white-yellow

**Problem 11**

Flatten a List of Lists
Write a Python program to flatten the given list into a single list using list comprehension.

Given list:
[[1, 2, 3], [4, 5], [6, 7, 8, 9]]

Expected result:
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
def flatten_list(matrix):
  return [item for givenlist in matrix for item in givenlist]

matrix = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

result = flatten_list(matrix)
print("Expected result:", result)

Expected result: [1, 2, 3, 4, 5, 6, 7, 8, 9]

**Problem 12:**

Write a simple python function that accepts a sentence and extract all the vowels from the sentence using list comprehension.

Input: "The quick brown fox jumps over the lazy dog"

Expected Result: ['e', 'u', 'i', 'o', 'o', 'u', 'o', 'e', 'a', 'o']

In [ ]:
vowels = "aeiouAEIOU"
input = "The quick brown fox jumps over the lazy dog"

result = [char for char in input if char in vowels]
print(result)

['e', 'u', 'i', 'o', 'o', 'u', 'o', 'e', 'e', 'a', 'o']

**Problem 13:**

Matrix Transposition

Write a simple python function that accepts a 3x3 matrix and transpose the matrix using list comprehension.

Input:

1, 2, 3

4, 5, 6

7, 8, 9


Expected Result:

Given matrix: [
  [1, 2, 3],
  [4, 5, 6],
  [7, 8, 9]
]

Transponsed Matrix: [
    [1, 4, 7],
    [2, 5, 8],
    [3, 6, 9]
]

In [ ]:
def transposematrix(matrix):
  return [[matrix[i][j] for i in range(len(matrix))] for j in range(len(matrix[0]))]

input_matrix = [
  [1,2,3],
  [4,5,6],
  [7,8,9]
]

transposed = transposematrix(input_matrix)

print("Given matrix:", input_matrix)
print("Transposed Matrix:", transposed)

Given matrix: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Transposed Matrix: [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

~ **Problem 14:**

Find Maximum Number

Write a simple python function that accepts list of numbers and find the maximum number in a list using the reduce function.

Input:
3, 5, 2, 8, 1

Expected Result: 8

In [ ]:
from functools import reduce

def find_max(number):
  return reduce(lambda x, y: x if x > y else y, number)

print("The maximum number in the list is:", find_max([3, 5, 2, 8, 1]))

The maximum number in the list is: 8

~ **Problem 15:**

Filter Names Starting with a Specific Letter

Write a simple python function that accepts list of names and filter out all names that start with the letter 'A' using the filter function.

Input: "Alice", "Bob", "Anna", "Charlie", "Annie"

Expected: 'Alice', 'Anna', 'Annie'

In [ ]:
def filterwordA(name):
  return "A" in name

def input(*names):
  filter_A = filter(filterwordA, names)
  print(list(filter_A))

input("Alice", "Bob", "Anna", "Charlie", "Annie")

['Alice', 'Anna', 'Annie']

In [ ]:
def filterA(names):
  return(list(filter(lambda x: len(x) > 1 and x[0] == "A", names)))

x = "Alice", "Bob", "Anna", "Charlie", "Annie"
print("Expected:", filterA(x))

Expected: ['Alice', 'Anna', 'Annie']

~ **Problem 16:**

Square and Filter Odd Numbers

Write a Python program that accepts list of numbers and create a list of squares of odd numbers from a given list of integers using map and filter functions.

Input: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10

Expected Result: 1, 9, 25, 49, 81

In [ ]:
def square(x):
  return x**2

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

numsq = list(filter(lambda x:(x % 2 != 0), numbers))
numsq = list(map(square,numsq))

print(numsq)

[1, 9, 25, 49, 81]

**Problem 17:**

Fibonacci Sequence

Write a recursive Python function to find the n-th Fibonacci number. The Fibonacci sequence is defined as:

1. F(0) = 0
2. F(1) = 1
3. F(n) = F(n-1) + F(n-2) for n > 1

In [ ]:
def fibonacci(number):
  if number == 0:
    return 0
  elif number == 1:
    return 1
  else:
    return fibonacci(number - 1) + fibonacci(number -2)

num = 17
result = fibonacci(num)
print(f"The {num}-th Fibonacci number is:", result)

The 17-th Fibonacci number is: 1597

**Problem 18:**

Write a recursive Python function to check if a given string is a palindrome (reads the same forwards and backwards).

Input: "radar"

Expected Result: True

In [ ]:
def palindrome(string):
  string = string.replace(" ", "").lower()

  if len(string) <= 1:
    return True

  if string[0] == string[-1]:
    return palindrome(string[1:-1])

  return False

input_string = "radar"
result = palindrome(input_string)
print("The result for input 'radar' is:", result)

The result for input 'radar' is: True

~ **Problem 19:**

Compose Functions

Write a Python function *def compose (f, g)* that takes any two functions f and g as parameter, and returns a *new function h* such that h(x) = f(g(x)).

Note: The function f and g are taking single parameter.

In [ ]:
def compose(f,g):
  def h(x):
    return f(g(x))
  return h

def f(x):
  return 2 * x

def g(x):
  return x + 3

new = 7
result = compose(f,g)
print("The answer:", result(new))

The answer: 20

**Problem 20**

Implement a decorator called count_calls that keeps track of how many times a function has been called.

*Decorator function*

def count_calls(func):<br/>
&nbsp;&nbsp;&nbsp;&nbsp;Your code here

*Function with decorator*

@count_calls<br/>
def greet(name):<br/>
&nbsp;&nbsp;&nbsp;&nbsp;print(f"Hello, {name}!")

greet("Alice")
greet("Bob")

Expected Output:

Function 'greet' was called 2 times.

In [ ]:
def count_calls(func):

  def word(*args, **key):
    word.call_count += 1
    print(f"Function has been called {word.call_count} times.")
    return func(*args, **key)
  word.call_count = 0
  return word

@count_calls
def greet(name):
    print(f"Hello, {name}!")

greet("Alice")
greet("Bob")

Function has been called 1 times.
Hello, Alice!
Function has been called 2 times.
Hello, Bob!

**Problem 21: Shopping Cart**

Create a function add_to_cart(item, quantity=1, price_per_item=5) that calculates the total cost for adding an item to a shopping cart. If quantity or price_per_item is not specified, assume default values. Return a dictionary with the item name, quantity, price per item, and total cost. For example:

**Input**

add_to_cart("Apple")

**Output**

{"item": "Apple", "quantity": 1, "price_per_item": 5, "total_cost": 5}

**Input**

add_to_cart("Banana", 3, 2)

**Output**

{"item": "Banana", "quantity": 3, "price_per_item": 2, "total_cost": 6}

In [ ]:
def add_to_cart(item, quantity=1, price_per_item=5):
  total_cost = quantity*price_per_item

  return {
      "item":item,
      "quantity":quantity,
      "price_per_item":price_per_item,
      "total_cost":total_cost
  }

print(add_to_cart("Apple"))
print(add_to_cart("Banana", 3, 2))

{'item': 'Apple', 'quantity': 1, 'price_per_item': 5, 'total_cost': 5}
{'item': 'Banana', 'quantity': 3, 'price_per_item': 2, 'total_cost': 6}

**Problem 22: Flexible Greeting**

Define a function

*multi_greet(name="Friend", *messages)*

that accepts a name and an arbitrary number of greeting messages. If no messages are provided, greet with "Hello". Test with and without providing additional greetings.

In [ ]:
def multi_greet(name="Friend", *messages):
  if not messages:
    messages = ["Hello"]
  for message in messages:
    print(f"{message}, {name}!")

multi_greet()
multi_greet("Husna", "Hi", "You're beautiful")
multi_greet("Wonwoo")

Hello, Friend!
Hi, Husna!
You're beautiful, Husna!
Hello, Wonwoo!

**Problem 23: Personal Information**

Write a function display_info(**kwargs) that accepts any number of named arguments and returns a formatted string with the person's information. For example:

**Input**

display_info(name="Alice", age=25, city="New York")

**Ouput**

"Name: Alice, Age: 25, City: New York"

**Input**

display_info(name="Bob", country="USA")

**Output**

"Name: Bob, Country: USA"

In [ ]:
def display_info(**kwargs):
  parts = []
  for key, value in kwargs.items():
    parts.append(f"{key.capitalize()}: {value}")
  return ", ".join(parts)

print(display_info(name="Alice", age=25, city="New York"))
print(display_info(name="Bob", country="USA"))

Name: Alice, Age: 25, City: New York
Name: Bob, Country: USA

**Problem 24: Build a URL Query**

Define a function build_url(base, **params) that builds a URL from a base and a series of query parameters. For example:

**Input**

build_url("https://example.com", search="python", page=2)

**Output**

https://example.com?search=python&page=2

**Input**

build_url("https://example.com")

**Output**

https://example.com

In [ ]:
def build_url(base, **params):

  search = params.get("search", "")
  page = params.get("page", "")

  if search and page:
    print(f"{base}?search={search}&page={page}")

  else:
    print(f"{base}")

build_url("https://example.com", search="python", page=2)
build_url("https://example.com")

https://example.com?search=python&page=2
https://example.com

**Problem 25: Student Grades**

Create a function

calculate_grades(student_name, *scores, **details)

that calculates the average score for a student. The details dictionary may contain additional information like subject="Math", level="Grade 10". For example:

**Input**

calculate_grades("Alice", 90, 85, 88, subject="Math", level="Grade 10")

**Output**

Alice's average in Math (Grade 10): 87.7

**Input**

calculate_grades("Bob", 70, 65, 80)

**Output**
Bob's average: 71.7

In [ ]:
def calculate_grades(student_name, *scores, **details):
  average = sum(scores) / len(scores)
  subject = details.get("subject", "")
  level = details.get("level", "")

  if subject and level:
    print(f"{student_name}'s average in {subject} ({level}): {average:.1f}")
  elif subject:
    print(f"{student_name}'s average in {subject}: {average:.1f}")
  else:
    print(f"{student_name}'s average: {average:.1f}")

calculate_grades("Alice", 90, 85, 88, subject="Math", level="Grade 10")
calculate_grades("Bob", 70, 65, 80)

Alice's average in Math (Grade 10): 87.7
Bob's average: 71.7